body{
   background-color: #1d2634;
}

.products-page{
    display: flex;
    flex-direction: row;
    background-color: #FAF9F6;
    /* justify-content: space-around; */
    /* gap: 20px; */
}

.add-product-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    color: #fff;
    padding: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    /* transition: transform 0.3s ease-in-out; */
  }
 

  .product-list{
    display: flex;
    flex-wrap: wrap;
    
    @media (min-width: 768px) {
      .product-list {
        width: calc(25% - 20px); 
       
      }
    }
  }

  /* Responsive styles for mobile */
@media (max-width: 767px) {
  .product-list {
    width: 100%; /* Full width on mobile */
    /* margin: 10px 0; */
  }
  .product-item:hover {
    transform: scale(1.05);
  }
}