body{
   background-color: #1d2634;
}

.products-page{
    display: flex;
    flex-direction: row;
    background-color: #FAF9F6;
    
}

.add-product-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    color: #fff;
    padding: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
 

  .product-list{
    display: flex;
    flex-wrap: wrap;
    
    @media (min-width: 768px) {
      .product-list {
        width: calc(25% - 20px); 
       
      }
    }
  }

@media (max-width: 767px) {
  .product-list {
    width: 100%;  
  }
  .product-item:hover {
    transform: scale(1.05);
  }
}